
body {
	margin: 0 0;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.logo {
	width: 100%;
	height: 50px;
}
/**
.logo-img {
		background: url(images/S-and-P-logo.png) no-repeat;
		height: 100px;
}
**/
.logo span a {
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	color: #083452;
	margin-left: 50px;
	padding-top: 20px;
	
}

.logo a {
	text-decoration: none;
	color: #083452;

}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 6.4em;
	font-weight: 400;
	color: #FFFFFF;
	margin: 0;
	padding: 0;
	line-height: 105px;
	text-shadow: 1px 1px 0.5px #10598e;
}

h2 {
	font-family: 'Oswald', 'sans-serif';
	font-size: 4em;
	font-weight: 400;
	text-transform: uppercase;
	color: #083452;
	line-height: 1.1em;
	margin: 0;
	padding: 0;
}

h3 {
	font-family: 'Oswald', 'sans-serif';
	font-size: 1.1em;
	font-weight: 400;
	letter-spacing: .5px;
	line-height: 0;
	text-transform: uppercase;
	color: #1374bc;
	margin: 0;
	padding: 0;
}

p {
	font-family: 'Asap', sans-serif;
	font-size: 1em;
	font-weight: 400;
	color: #666666;
	line-height: 1.65em;
	margin-bottom: 26px;

}
p a {
	color: #CCCCCC;
}
p a:hover {
	color: #1374bc;
}
.p2 {
	font-family: 'Asap', sans-serif;
	font-size: 0.9em;
	font-weight: 300;
	color: #CCCCCC;
	line-height: 1.67em;
	margin-top: 19px;
}

hr {
	border: 0;
	height: 1px;
	background: #CCCCCC;
	margin: 68px 0 35px 0;
	
}

blockquote {
	border-left: solid 2px #CCCCCC;
	height: 55px;
	margin: 28px 0 21px 0px;
	padding-top: 8px;
	padding-left: 15px;

}

.quote {
	font-family: 'Asap', sans-serif;
	font-size: 1.6em;
	font-weight: 300;
	color: #1374bc;
	text-transform: uppercase;
}
header {
	background: url(images/ocean.jpg) no-repeat;
	margin: 0 auto;
	position: relative;
	height: 523px;
}

.overlay {
	width: 100%;
	position: absolute;
	background: rgba(17, 117, 192, 0.8);
	height: 523px;
}



.subtitle {
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9em;
	font-weight: 600;
	color: #083452;
	padding-bottom: 25px;
}

.top {
	width: 960px;
	margin: 0 auto;
	padding-top: 0px;
}

.top nav ul li {
	float: right;
	font-family: 'Oswald', 'sans-serif';
	font-size: 1.1em;
	text-transform: uppercase;
	color: #083452;
	margin-right: 15px;
}

.top ul {
	float: right;
}

.top li {
	float: left;
}

nav ul li {
	display: inline;
	font-family: 'Asap', sans-serif;
	font-size: 1em;
}

nav ul {
	float: right;
}

nav li {
	float: left;
}

.center {
	text-align: center;
	margin-top: 157px;
	padding: 0;
}

.content {
	max-width: 960px;
	margin: 0 auto;
	min-height: 100%;
}

.main-column {
	display: inline-block;
	max-width: 620px;
	padding-top: 63px;
	
}

.author {
	position: relative;
	display: inline-block;
	font-size: 0.8em;
	margin-top: 10px;
	margin-bottom: 12px;

}


.author-balance {
	position: absolute;
	top: 0px;
	left: 25px;
	width:400px;	
	padding: 4px;
	display: inline-block;
}

.author-name2 {
	font-family: 'Asap', sans-serif;
	font-size: 1em;
	color: #1374bc;
}

.date {
	font-family: 'Asap', sans-serif;
	color: #a3b3bf;
	padding-left: 10px;
}

.date a {
	color: #a3b3bf;
}


.social-boxes {
	margin-top: -12px;
}

.social-icon {
	float: left;
	background: #5e686f;
	padding: 5px 10px;
	width: 30px;
	height: 30px;
}

.social-text {
	float: left;
	height: 30px;
	padding: 7px 12px 10px 12px;
	background: #a3b3bf;
	margin-right: 10px;
	font-family: 'Asap', sans-serif;
	font-size: 0.8em;
	font-weight: 300;
	color: #FFFFFF;
}

.social-icon-share {
	float: left;
	background: #083452;
	padding: 5px 10px;
	width: 30px;
	height: 30px;
}

.social-text-share {
	float: left;
	height: 30px;
	padding: 7px 12px 10px 12px;
	background: #106db3;
	margin-right: 10px;
	font-family: 'Asap', sans-serif;
	font-size: 0.8em;
	font-weight: 300;
	color: #FFFFFF;
}

.right-sidebar {
	float: right;
	color: #0066cc;
	max-width: 280px;
	margin-top: 82px;
	margin-bottom: 15px;
}

.author-name {
	text-align: center;
	font-family: 'Asap', sans-serif;
	font-size: 1em;
	font-weight: 300;
	color: #106db3;
	text-transform: uppercase;
	margin-top: 15px;
	margin-bottom: 1px;
}

.sidebar-social-links a {
	display: inline;
	text-decoration: none;
	font-family: 'Asap', sans-serif;
	font-size: 0.9em;
	color: #CCCCCC;
	padding-top: 20px;
	margin-left: 25px;
}

.right-sidebar img {
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;	
}

.image-sidebar {
	position: relative;
	margin-top: 52px;
	margin-bottom: 0;

}

.image-sidebar-overlay {
	width: 100%;
	position: absolute;
	bottom: 0;
	background: rgba(17, 117, 192, 0.8);
	height: 300px;
}

.right-sidebar-ad-link a {
	float: right;
	color: #CCCCCC;
	font-family: 'Asap', sans-serif;
	font-size: 0.9em;
	padding-bottom: 1px;
	color: #a3b3bf;
	line-height: 10px;
}

.sidebar-paragraph {
	display: block;
	margin-top: 82px;
}

.sidebar-paragraph a {
	color: #CCCCCC;
}

.popular-posts {
	max-width: 100%;
	text-align: center;
}

.box {
	float: left;
	width: 25%;
	height: 330px;
	margin-top: 40px;
	position: relative;
}

.box1{
	background-image: url(images/sand.jpg);
}

.box2 {
	background-image: url(images/dock.jpg);
}

.box3 {
	background-image: url(images/oceanboat.jpg);
}

.box4 {
	background-image: url(images/boat.jpg);
}
.box-overlay {
	background: rgba(17, 117, 192, 0.8);
	height: 330px;
	color: #083452;
	-webkit-transition: background-color 175ms ease-out 175ms;
    -moz-transition: background-color 175ms ease-out 175ms;
    -o-transition: background-color 175ms ease-out 175ms;
    transition: background-color 175ms ease-out 175ms;
}
.box:hover div {
	background: none;
	color: #FFFFFF;
}

.box span {
	position: absolute;
	bottom: 15px;
	left: 15px;
	font-family: 'Oswald', sans-serif;
	font-size: 2em;
	text-transform: uppercase;
	text-align: left;

}

footer {
	width: 100%;
	height: 97px;
	background-color: #083452;
	position: relative;
	clear: left;
}

.footer-contents {
	width: 960px;
	margin: 0 auto;
	padding-top: 40px;

}
footer p {

	display: inline;
	font-family: 'asap', sans-serif;
	font-size: 0.9em;
	font-weight: 300;
	color: #a3b3bf;
	margin: 0;
	line-height: 0;
}

.footer-contents ul li {
	text-decoration: none;
	display: inline;
	font-family: 'Asap', sans-serif;
	font-size: 0.9em;
	margin-left: 8px;
	padding-right: 8px;
	border-right: 1px solid #a3b3bf;
}

.footer-contents a {
	text-decoration: none;
	color: #a3b3bf;
}

.footer-contents ul {
	float: right;
	margin: 0;
}

.footer-contents li {
	float: left;
}
